upstream app_pools {
    server ${APP_HOST_NAME};
}

server {
    listen       ${NGINX_PORT};
    listen       [::]:${NGINX_PORT};
    server_name  localhost;

    location / {
        proxy_pass http://app_pools;
        proxy_redirect default;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}
